// Specific CSS for your home-page
ul {
  list-style-type: none;
  padding: 0 150px;
}

li {
  margin: 40px 0;
  p {
    margin: 0;
  }
}

.space-below {
  margin-bottom: 20px
}

.feint {
  opacity: 0.4;
}
